{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="jumbotron my-4">
      <h1 class="display-3">Gamestarter</h1>
      <p class="lead">The new birthplace of video games</p>
      <a href="#" class="btn btn-primary btn-lg">Learn More</a>
    </header>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="" alt="">
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">For those that love video games...</h2>
                <p>To whatever degree, we love video games, and maybe you're here because you're curious to find out more and/or are tired of the corporate game studios and the range they deliver these days</p>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="" alt="">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="p-5">
                <h2 class="display-4">You're awesome!</h2>
                <p>No doubt you've got a good sense of what makes a great game - or perhaps even have a great idea(s) yourself! For this, you're in the right place</p>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="" alt="">
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">Let's bring ideas to life!</h2>
                <p>Whether you want to create a game, or want to contribute to what you think games should be like these days, don't hesitate to get started with this platform, donating to projects of interest or setting up a donation flow for that great game of yours that needs support to make it a reality!</p>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="services pt-100 pb-50" id="services">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <h4>What is Gamestarter</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="far fa-play-circle"></i>
                     <h4>Purpose</h4>
                     <p>This platform was created to give a platform for videos games to have a chance of being kickstarted - by the gamers, for gamers</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="fas fa-bullseye"></i>
                     <h4>Goal</h4>
                     <p>To have a community where game developers and game lovers can share ideas and support one another</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="fas fa-coins"></i>
                     <h4>In Practical Terms?</h4>
                     <p>A simple donation platform, enabling users to donate to game projects/ideas, and allows creators to share their projects/ideas</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <h4>How it Works</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="fa fa-laptop"></i>
                     <h4>Want to Contribute?</h4>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="fa fa-gears"></i>
                     <h4>Web Development</h4>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <div class="single-service">
                     <i class="fa fa-mobile"></i>
                     <h4>Responsive Design</h4>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}