{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        {{ profile.user.email }}
        {{ profile.is_creator }}


        <div class="container">
            <div class="row">
            <h3>Subscribed to</h3>
                <div class="col-md-4">
                {% if subscriptions == Null %}
                    <p>You are currently not subscribed to any game projects</p>
                {% else %}
                    <ul>
                    {% for subscription in user.subscriptions %}
                        <li>
                        {{ subscription.subscription_plan.game_project.name }}<br>
                        {{ subscription.subscription_plan.tier }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            <h3>My Game Projects</h3>
                <div class="col-md-4">
                </div>
            </div>
        </div>
{% endblock %}