{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">{{ profile.user.username }}</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
    <h3>My Donations</h3>
        <div class="row view-group">
            {% if not orders %}
            <div class="col">
                <p>No donations have been made yet</p>
            </div>
            {% else %}
                {% for order in orders %}
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="{{ order.game_project.image.url }}" alt="{{ order.game_project.title }}" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Game Project: {{ order.game_project.title }}</h4>
                        <p class="group inner list-group-item-text">
                            Donation Type: {{ order.donation_item }}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Donated: €{{ order.donation_item.amount }}</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-primary" href="{% url 'project_detail' order.game_project.id %}">Project Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        {% if orders %}
            <div class="row justify-content-center">
                <div class="col-8">
                    <a href="#" id="loadMore" class="load-more">Load More</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% if profile.is_creator %}
    <div class="container">
    <h3>My Game Projects</h3>
        <div class="row view-group">
        {% if not game_projects %}
            <div class="col">
            <p>No projects created yet</p>
            </div>
        {% else %}
            {% for project in game_projects %}
                <div class="item2 col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Game Project: {{ project.title }}</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Donations total: €{{ project.total_amount }} </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-primary" href="{% url 'project_detail' project.id %}">Project Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        {% if game_projects %}
        <div class="row justify-content-center">
            <div class="col-8">
                <a href="#" id="loadMore2" class="load-more">Load More</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}