{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        {{ profile.user.email }}
        {{ profile.is_creator }}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h3>My Donations</h3>
                {% if not orders %}
                    <p>No donations have been made yet</p>
                {% else %}
                    {% for order in orders %}
                    <p>{{ order.stripe_pid }}</p>
                    <p>{{ order.donation_item }}</p>
                    <p>{{ order.donation_item.amount }}</p>
                    {% endfor %}
                {% endif %}
                </div>
            {% if profile.is_creator %}
                <div class="col-md-4">
                <h3>My Game Projects</h3>
                {% if not game_projects %}
                    <p>No projects created yet</p>
                {% else %}
                    {% for project in game_projects %}
                        <p>{{ project.title }}</p>
                        <a class="btn btn-primary" href="{% url 'project_detail' project.id %}">Project Detail</a>
                    {% endfor %}
                {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
{% endblock %}