{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-lg-2">
            <h1>Payment successful! Thanks a million!</h1>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <h2>Donation Summary</h2>
            <div class="image-container my-5">
                {% if order.game_project.image %}
                    <img class="card-img-top img-fluid" src="{{ order.game_project.image.url }}" alt="{{ order.game_project.title }}">
                {% else %}
                    <img class="group list-group-image img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ order.game_project.title }}"/>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="project-details-container mb-5 mt-md-5">
                <h3 class="mb-0">{{ order.game_project.title }}</h3>
                <p class="lead mb-0 text-left font-weight-bold">Donated: €{{ order.donation_item.amount }}</p>
                <p class="small mt-1 mb-0">
                    <i class="fas fa-user-tag"></i> {{ order.game_project.owner }}
                </p>
                <p class="mt-3">Order Number: {{ order.order_number }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-lg-2">
            <h2>Email Confirmation (Coming Soon)</h2>
            <p class="mt-3">In a future release of this website there will be email confirmation sent for each donation made.<br>
            In the mean time, should you wish to obtain an email copy of your donation, send an email to gustaf@gamestarter.com and we will provide this as soon as possible.</p>
        </div>
    </div>
</div>
{% endblock %}
