{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gameproject/css/gameproject.css' %}">
{% endblock %}

{% block content %}
<div>
{{ game_project.title }}
{{ game_project.description }}
{{ game_project.owner }}
{% if game_project.image %}
<img src="{{ game_project.image.url }}" alt="{{ game_project.title }}">
{% endif %}
</div>

<div>
{% if game_project.owner != profile %}
    {% for option in donation_options %}
    <p>{{ option.title }}</p>
    <p>{{ option.amount }}</p>
    <form action="{% url 'donate' %}" method="GET">
        <input type="hidden" value="{{ option.id }}" name="donation_type">
        <input type="hidden" value="{{ game_project.id }}" name="game_project">
    <button type="submit" class="btn btn-primary">Donate to {{ game_project.title }}</button>
    </form>
    {% endfor %}
{% endif %}
</div>
<div>
{% if game_project.owner == profile %}
<a href="{% url 'edit_project' game_project.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update</a>
<a href="{% url 'delete_project' game_project.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</a>
{% endif %}
</div>



{% endblock %}